@import url('common-dashboard.min.css');

div.preview {
    position: fixed;
    top: 80px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
    padding: 25px 20px 10px 20px;
}

#previewer{
    margin: 0px;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}