/* basic */

head, body {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 10px;
    font-family: Lato;
    color: #767676;
}

h1 {
    font-size: 20px;
    color: #363A40;
    padding: 0px 20px;
    font-weight: normal;
    margin-right: 110px;
}

/* properties list */

ol.properties {
    column-count: 1;
    column-gap: 10px;
}

ol.properties, ol.properties li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    line-height: 20px;
}
ol.properties li {
    padding: 5px;
    position: relative;
    padding-left: 195px;
    break-inside: avoid;
}
ol.properties li:hover {
    background-color: #F4F4F4;
}

ol.properties > * {
    font-size: 14px;
}

ol.properties label {
    width: 150px;
    display: inline-block;
    text-align: right;
    padding-right: 20px;
    text-overflow: ellipsis;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    position: absolute;
    left: 5px;
}

ol.properties label.mandatory span::after {
    content: "*";
    position: absolute;
    padding-left: 2px;
}

ol.properties li > span {
    color: #363A40;
    vertical-align: top;
    display: inline-block;
    white-space: pre-line;
}
ol.properties li.mfdatatype-1 > span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ol.properties li.editable > span{
    cursor: text;
}
ol.properties li.editable:hover {
    background-image: url("../images/icon-edit.png");
    background-repeat: no-repeat;
    background-position: 170px 6px;
}

/* buttons */

button {
    border: 1px solid #ABABAB;
    border-radius: 2px;
    background-color: white;
    color: #363A40;
    padding: 5px 10px;
    cursor: pointer;
    min-width: 100px;
    font-size: 13px;
    font-family: 'Segoe UI', Arial, sans-serif;
    text-align: center;
}
button:hover, button:active
{
    border-color: #318CCC;
    background-color: #318CCC;
    color: white;
}
button.save {
    border-color: #318CCC;
    color: #318CCC;
}

.buttonGroup.top {
    position: fixed;
    top: 10px;
    left: 0px;
    right: 0px;
    box-sizing: content-box;
    padding: 10px 20px;
    text-align: right;
}

/* more columns on wider screens */

@media screen and (min-width: 900px) {
    ol.properties {
        column-count: 2;
    }
}
@media screen and (min-width: 1420px) {
    ol.properties {
        column-count: 3;
    }
}
@media screen and (min-width: 1940px) {
    ol.properties {
        column-count: 4;
    }
}
